img {
  scale: 2;
  margin-bottom: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  text-align: center;
  background-image: url("../../assets/houses-background.jpg");
  background-size: cover;
  background-position: center;
}

header {
  display: flex;
  flex-direction: column;
  margin: 7rem;
}

header > p {
  color: rgb(0, 0, 0);
  font-size: 14pt;
  margin-top: 1rem; 
}

.login-section {
  background-color: rgba(52, 29, 128, 0.75);
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0px 3px 12px;
}

.login-section h2 {
  color: white;
  margin-bottom: 2rem;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

input {
  font-size: 16pt;
  margin-bottom: 15px;
  padding: 10px;
  width: 400px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid .3px;
  border-radius: .8rem;
}

.button-group {
  display: flex;
  gap: 20px;
  margin-top: 1rem;
}

button {
  font-size: 16pt;
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: black;
  transition: .15s;
}

button:hover {
  background-color: rgb(218, 218, 218);
}
