:host {
  --content-padding: 10px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: var(--content-padding);
  box-shadow: 0px 5px 25px var(--shadow-color);
}

.alert-text {
  color: var(--alert-color);
  font-weight: bold;
}
.content {
  padding: var(--content-padding);
}